@import '../common/variables.scss';
@import '../null.scss';

$colorBtn:#ED165F;



.up {
	position: fixed;
	bottom: 10%; 
	right: 10%; 
	width: 50px;
	height: 50px; 
	background: $colorBtn;
	z-index: 99; 
  }
.back{
	@extend %display;
	width: fit-content;
	gap: 10px;
	padding: 8px 15px;
	color: $colorBtn;
	font-size: 16px;
	@extend %linkUserButtons;
}
.goHome{
	@extend %display;
	width: fit-content;
	gap: 10px;
	padding: 10px 15px;
	color: $colorBtn;
		@extend %linkUserButtons;
}

.SignIn{
	@extend %display;
	justify-content: center;
	max-width: 410px;
	gap: 10px;
	background:$colorBtn;
	padding: 10px 15px;
	border-radius: 5px;
	color:#fff;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
	transition: all 0.3s ease 0s;
	color:$colorBtn;
	background:#fff;
	outline: 1px solid $colorBtn ;
		}
	}
}
.CreateAccount{
	@extend %display;
	justify-content: center;
	max-width: 410px;
	gap: 10px;
	background:$colorBtn;
	padding: 10px 15px;
	border-radius: 5px;
	color:#fff;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
	transition: all 0.3s ease 0s;
	color:$colorBtn;
	background:#fff;
	outline: 1px solid $colorBtn ;
		}
	}
}
.Shopping{
	@extend %display;
	justify-content: center;
	max-width: 410px;
	gap: 10px;
	color:black;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	background:white;
	outline: 1px solid $colorBtn;
	padding: 10px 15px;
	border-radius: 5px;
	transition: all 0.3s ease 0s;

}


.close{
	width: fit-content;
}

.addToCart{
	@extend %display;
	cursor: pointer;
		gap: 5px;
		justify-content: center;
	background: white;
	padding: 8px 15px;
	text-transform: uppercase;
	width: fit-content;
	border-radius:3px;
	font-weight: 600;
	@include adaptive-font(16, 14, 1440);
	transition: all 0.3s ease 0s;
	@media (any-hover: hover){
		&:hover{
	transition: all 0.3s ease 0s;
color: $colorBtn;
		}
	}
}
.heart {
	color: $colorBtn;
}
.favorite {
	cursor: pointer;
	background: white;
	width: fit-content;
	font-size: 20px;
	padding: 5px 8px;
	transition: all 0.3s ease 0s;

@media (any-hover: hover) {
		&:hover {
			transition: all 0.3s ease 0s;
			background: $colorBtn;
			.heart {
					color: #fff;
				}
}
}
}

//-----------------------------------------tabs
.ToFavorite {
	@extend %display;
	gap: 5px;
	justify-content: center;
	background: $colorBtn;
	color: #fff;
	font-weight: 600;
	padding: 8px 15px;
	border-radius: 3px;
	width: fit-content;
	@include adaptive-font(16, 14, 1440);
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			transition: all 0.3s ease 0s;
			background: #fff;
				color: $colorBtn;
				outline: 2px solid $colorBtn;
			}
			}
			}
			
			.buy {
				@extend %display;
				gap: 5px;
				justify-content: center;
	background: $colorBtn;
	@include adaptive-font(16, 14, 1440);
		padding: 8px 15px;
		text-transform: uppercase;
		width: fit-content;
		border-radius: 3px;
		font-weight: 600;
		color: #fff;
		transition: all 0.3s ease 0s;
	
		@media (any-hover: hover) {
			&:hover {
				transition: all 0.3s ease 0s;
				background: #fff;
				color: $colorBtn;
				outline: 2px solid $colorBtn;
		}
	}
}
//-----------------------------------------tabs


.goToFavorite{
	color:$colorBtn;
	width: fit-content;
	text-transform: uppercase;
}


.remove{
	width: fit-content;
	text-transform: uppercase;
	@include adaptive-font(16, 14, 1440);
	color:$colorBtn;
&:focus {
		transition: all 0.3s ease 0s;
		color: black;
	}
}
.btnNavigations{
	@extend %displayComplect;
	@include adaptive-value('gap',10,5,1440);
	max-width: 80px;
}
.loginBtn {
	color: $colorBtn;
	cursor: pointer;
	@extend %linkFilters;
	@include adaptive-font(30, 15, 1440);

}

.active {
	cursor: pointer;
	width: fit-content;
	font-size: 20px;
	padding: 5px 8px;
	background: $colorBtn;

}

.heartActive {
	color: #fff;
}