@import '../common/variables.scss';
@import '../null.scss';

//------------------------------------------const
$headerBg:#F5F5F5;
$mainColor:#ED165F;
//------------------------------------------const

.header {
	@include adaptive-value('padding-top',20,10,1440);
	@include adaptive-value('padding-bottom',20,10,1440);
	background: $headerBg;
}
.container {
	@extend %container;
	@extend %displayComplect;
}

//----------------------------------------------

.menu{ 
	@extend %menuBurger;

}
.menu.active{
	transition: left 0.6s ease 0s;
		left: 0%;
	}
.list { //------------------------ul

	@extend %listMenuBurger;

}
.item {
}
.link {
	@extend %linkMenuBurgerItem;

	}
//----------------------------------------------

.navigation {
	@extend %displayComplect;
	@include adaptive-value('gap',35,12,1440);
}
.burgerBtn {
	@extend %burgerBtn;
}

//-----------------------------------

.userIcon {

	transition: all 0.3s ease 0s;
	height: 15px;

	@media (any-hover: hover) {
		&:hover {
			color: $mainColor ;
		}
	}
}


.userComponent {
	position: relative;
}


.userDataBox {
	position: absolute;
	@include adaptive-value('margin-top', 20, 10, 1440);
	top: 100%;
	@include adaptive-value('left', -100, -80, 1440);
	@include adaptive-value('padding-top', 25, 10, 1440);
	@include adaptive-value('padding-bottom', 25, 10, 1440);
	@include adaptive-value('padding-left', 25, 10, 1440);
	@include adaptive-value('padding-right', 25, 10, 1440);
	background: #fff;
	border: 1px solid $mainColor;
	border-radius: 7px;
	z-index: 100;
	opacity: 0;
	transform: translateY(-10px);
	
	visibility: hidden;
	transition: 0.3s;
}

.active {
	transform: translateY(0);
	@include adaptive-value('left', -100, -80, 1440);
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}

.userDataList {}

.userDataImage {
	@extend %displayCenter;
	background: transparent;
	border: 1px solid #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	@extend %images;
}

.userDataItem {
	@extend %display;
	word-wrap: wrap;
	gap: 5px;
	@include adaptive-font(18, 12, 1440);
	@include adaptive-value('padding-top', 5, 2, 1440);
	@include adaptive-value('padding-bottom', 5, 2, 1440);
}

.userDataName {
	@extend %display;
	word-wrap: wrap;
	gap: 5px;
	@include adaptive-font(18, 12, 1440);
	@include adaptive-value('padding-top', 5, 2, 1440);
	@include adaptive-value('padding-bottom', 5, 2, 1440);
	border-bottom: 1px solid #dad9d9;

}

.userDataEmail {
	@extend %display;
	word-wrap: wrap;
	gap: 5px;
	@include adaptive-font(18, 12, 1440);
	@include adaptive-value('padding-top', 5, 2, 1440);
	@include adaptive-value('padding-bottom', 5, 2, 1440);
	border-bottom: 1px solid #dad9d9;
}

.buttonsBox {
	@extend %displayFlexDirection;
	@include adaptive-value('gap', 10, 5, 1440);

}

.login {
	padding: 2px;
	@extend %display;
	@include adaptive-font(18, 12, 1440);
	gap: 10px;
	text-align: left;
	color: $mainColor;
	@extend %linkUserButtons;
	@include adaptive-value('width', 100, 50, 1440);

}

.exit {
	padding: 2px;
	@extend %display;
	gap: 10px;
	text-align: left;
	color: $mainColor;
	@extend %linkUserButtons;
	@include adaptive-value('width', 100, 50, 1440);
	@include adaptive-font(18, 12, 1440);
}


.iconLogIn {
	min-width: 15px;
	min-height: 10px;
}

.iconExit {
	min-width: 15px;
	min-height: 10px;
}

.cartIcon {
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: $mainColor ;
		}
	}
}

.favoriteIcon {

	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: $mainColor ;
		}
	}
}


.CartBox {
	@extend %display;
	gap: 10px;
}

.FavoriteBox {
	@extend %display;
	gap: 10px;
}
