@import '../common/variables.scss';
@import '../null.scss';

//===================================PRODUCTLIST

//===================================PRODUCTLIST



//====================================PRODUCTITEM

.itemBody {
	@include adaptive-value('width', 280, 230, 1440);
}
.boxImage{
	@include adaptive-value('height', 350, 280, 1440);
		border-radius: 20px;
		border: 1px solid var(--grey-200, #E1E1E1);
		position: relative;
		overflow: hidden;
}
.curtain {
	background: #00000044;
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	@extend %displayFlexDirection;
	align-items:center;
	transition: all 0.3s ease 0s;
	justify-content: center;
	opacity: 0;
	@media (any-hover: hover){
		&:hover{
			transition: all 0.3s ease 0s;
			opacity: 1;
		}
	}
}
.box{
	position: relative;
		z-index: 10;
	@extend %displayFlexDirection;
	gap: 10px;
	align-items:center;
}
.contentBox {
	padding: 10px 0px 20px;
	@extend %displayFlexDirection;
	align-items:center;
}
.text {
	@extend %text;
	@extend %linkFilters;
}

//====================================PRODUCTITEM
